<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.moodmate">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MoodMate">

        <!-- 1. The Main Activity-->
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 2. Log Mood Activity -->
        <activity android:name=".LogMoodActivity"
            android:exported="false"/>

        <!-- 3. Calendar Activity -->
        <activity android:name=".CalendarActivity"
            android:exported="false"/>

        <!-- 4. Mood Trends Activity -->
        <activity android:name=".MoodTrendsActivity"
            android:exported="false"/>

        <!-- 5. The Login Activity-->
        <activity android:name=".LoginActivity"
            android:exported="false">
        </activity>

        <!-- 6. The Registration Activity -->
        <activity android:name=".RegisterActivity"
            android:exported="false" />

        <!-- 7. The Settings Activity -->
        <activity android:name=".SettingsActivity"
            android:exported="false" />

        <receiver android:name=".ReminderBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>


    </application>
</manifest>
